<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>银行机构</key>
		<string>bank</string>
	</dict>
	<dict>
		<key>证券公司</key>
		<string>bond</string>
	</dict>
	<dict>
		<key>PE/VC</key>
		<string>pevc</string>
	</dict>
	<dict>
		<key>债权机构</key>
		<string>bondAgency</string>
	</dict>
	<dict>
		<key>公募基金</key>
		<string>fund</string>
	</dict>
	<dict>
		<key>信托公司</key>
		<string>entrust</string>
	</dict>
	<dict>
		<key>三方理财</key>
		<string>manage</string>
	</dict>
	<dict>
		<key>担保小贷</key>
		<string>bonding</string>
	</dict>
	<dict>
		<key>上市公司</key>
		<string>public</string>
	</dict>
	<dict>
		<key>融资企业</key>
		<string>financingEnterprise</string>
	</dict>
	<dict>
		<key>其他</key>
		<string>other</string>
	</dict>
</array>
</plist>
