<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>不限</key>
	<string>unlimited</string>
	<key>金融投资</key>
	<string>financial</string>
	<key>能源化工</key>
	<string>energy</string>
	<key>地产基建</key>
	<string>realtyConstruction</string>
	<key>制造业</key>
	<string>manufacturing</string>
	<key>大健康</key>
	<string>bighealth</string>
	<key>TMT/互联网</key>
	<string>TMTinternet</string>
	<key>服务业</key>
	<string>service</string>
	<key>冶金采掘</key>
	<string>metallurgy</string>
	<key>农林牧渔</key>
	<string>agriculture</string>
	<key>其他行业</key>
	<string>other</string>
	<key>企业类</key>
	<string>enterprise</string>
	<key>平台类</key>
	<string>platform</string>
	<key>证券类</key>
	<string>security</string>
	<key>个人资金</key>
	<string>personalCapital</string>
	<key>企业资金</key>
	<string>enterpriseCapital</string>
	<key>金融机构</key>
	<string>financingInstitution</string>
	<key>抵押</key>
	<string>mortgage</string>
	<key>质押</key>
	<string>pledge</string>
	<key>担保</key>
	<string>warrant</string>
	<key>信用</key>
	<string>credit</string>
	<key>天使</key>
	<string>angel</string>
	<key>PE/VC</key>
	<string>PV</string>
	<key>定增并购</key>
	<string>merger</string>
	<key>三板定增</key>
	<string>threeBoard</string>
	<key>1年以内</key>
	<string>oneYear</string>
	<key>1~3年</key>
	<string>oneToThreeYear</string>
	<key>3年以上</key>
	<string>moreThreeYear</string>
	<key>3年以内</key>
	<string>threeYear</string>
	<key>3~5年</key>
	<string>threeToFiveYear</string>
	<key>5年以上</key>
	<string>moreFiveYear</string>
	<key>同业</key>
	<string>sameIndustry</string>
	<key>混业</key>
	<string>commixtureIndustry</string>
	<key>债权融资</key>
	<string>bondFinance</string>
	<key>债权投资</key>
	<string>bondInvest</string>
	<key>股权融资</key>
	<string>equityFinance</string>
	<key>股权投资</key>
	<string>equityInvest</string>
</dict>
</plist>
